.logoContainer {
	&--logo-footer {
		justify-content: center;
		@include media-max(1024px) {
			// justify-content: center;
			// margin: 30px 0 17px;
		}
	}
}
.logoImage {
	&--logo-footer {
		max-width: initial;
		@include media-max(1024px) {
			justify-content: center;
		}
	}
}

.logoLink--logo-footer {
	@include media-max(1024px) {
		margin: 0 auto;
		display: block;
		margin-top: 20px;

		.logoContainer {
			padding: 0px;
			margin: 0 auto;
			display: flex;
		}
	}
}

.paymentIcon {
	color: $white;
	margin-top: -8px;
}
.vtexIcon {
	color: $white;
	margin-right: 43.92px;
}
.eplusIcon {
	color: $white;
}
.socialIcon {
	color: $white;
}

.successIcon {
	color: $primary400;
}
