.trigger {
	&--footer-title {
		border: none;
		background: $primary100;
		border: 1px solid $white;
		border-left: none;
		border-bottom: none;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 48px;
		padding: 0 18px 0 15px;
	}
	:global(.vtex-store-components-3-x-arrowLine),
	:global(.vtex-store-components-3-x-arrowLineRotate) {
		color: $primary--inverse;
	}
	&--footer-about {
		border: 1px solid $primary;
		box-sizing: border-box;
		background-color: $primary--inverse;
		max-width: 249px;
		height: 45px;
		margin: 20px auto;
		width: 100%;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		@include media-max(1024px) {
			height: 48px;
			max-width: 332px;
			background-color: $primary100;
      color: white;
      border-radius: 5px;
      border: 1px solid #FFFFFF;
		}
	}
}
.content {
	&--footer-content {
		transition: max-height 0.4s;
		padding: 18px 14px;
		&--hidden {
			max-height: 0;
			overflow-y: hidden;
		}
		&--visible {
			max-height: 300px;
		}
	}
	&--footer-about {
		padding: 0 15px;
		&--hidden {
			max-height: 185px;
			overflow-y: hidden;
		}
		&--visible {
			max-height: 1000px;
		}
	}
}
