.drawer,
.drawerContent {
	&--minicart {
		overflow-x: hidden;
		max-height: 602px;
		overflow: hidden;
		height: 100%;

		@include media-max(1024px) {
			width: 100% !important;
			max-height: initial;
		}
	}
}

.overlay {
	opacity: 0 !important;
}

.childrenContainer--minicart {
	@include media-min(1025px) {
		height: 100%;
	}
}

.minicartSideBarContentWrapper {
	&--minicart {
		height: 100% !important;
		max-height: 602px;
	}
}

.minicartEmptyStateContainer {
	padding-right: 113px;
	@include media-max(1024px) {
		padding: 0 15px;
	}
	:global(.vtex-store-icons-0-x-cartIcon) {
		color: $textColor;
	}
	:global(.vtex-rich-text-0-x-paragraph) {
		margin: 0;
		font-family: $primaryFont;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		text-transform: uppercase;
		color: $textColor;
	}
}
.minicartTitle,
.closeIconContainer--minicart {
	display: none;
}
.openIconContainer {
	&--minicart-main,
	&--minicart-sidebar {
		padding: 0;
		:global(.vtex-button) {
			border: none;
			&:hover,
			&:focus,
			&:active {
				background-color: transparent;
			}
		}
		:global(.vtex-button__label) {
			padding: 0;
		}
	}
}

.minicartContainer {
	&--minicart-sidebar {
		width: 100%;
		:global(.vtex-button) {
			width: 100%;
		}
	}
}
.minicartIconContainer {
	&--minicart-main {
		padding: 0;
		display: flex;
		align-items: center;
		:global(.vtex-store-icons-0-x-cartIcon) {
			color: $textColor;
			margin-right: 9.25px;
		}
	}
	&--minicart-sidebar {
		width: 100%;
		background: $primary100;
		height: 48px;
		border-bottom: 1px solid $white;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 16px;
		:global(.vtex-store-icons-0-x-cartIcon) {
			color: $white;
			margin-right: 16.13px;
		}
	}
}
.minicartQuantityBadge {
	position: static;
	background-color: transparent;
	padding: 0;
	&--minicart-main:not(.minicartQuantityBadgeOut) {
		color: $textColor;
		font-family: $primaryFont;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 15px;
		text-align: center;
		text-transform: uppercase;
		&::after {
			content: ')';
		}
		&::before {
			content: '(';
		}
		&::after,
		&::before {
			font-family: $primaryFont;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 15px;
			text-align: center;
			text-transform: uppercase;
			color: $textColor;
		}
	}
	&--minicart-sidebar:not(.minicartQuantityBadgeOut) {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: $textColor--inverse;
		font-family: $primaryFont;
		width: 100%;
		justify-content: flex-start;
		text-transform: uppercase;
		&::after {
			content: ') itens';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 17px;
			color: $textColor--inverse;
			font-family: $primaryFont;
		}
		&::before {
			content: 'Carrinho (';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 17px;
			color: $textColor--inverse;
			font-family: $primaryFont;
		}
	}
}
.minicartQuantityBadgeOut {
	&--header-quantity {
		font-family: $primaryFont;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: $textColor;
		width: 100%;
		justify-content: flex-start;
		align-items: center;
		background-color: transparent;
		padding: 0;
		// text-transform: uppercase;
		&::before {
			content: '(';
		}
		.minicartQuantityBadgeText {
			&::before {
				content: ') ';
			}
		}
	}
}

.minicartProductListContainer {
	padding: 0 30px 0 38px;
	overflow-y: auto;
	max-height: 359px;
	max-width: 527px;
	@include scrollbar(6px, 100px, $scollColor, $scrollBg);
	@include media-max(1024px) {
		padding: 0 20px;
	}
	@include media-max(638px) {
		padding: 0 10px;
	}
}
.minicartSummary {
	padding: 0;
}
.minicartQuantityBadgeOut {
	&--footer-quantity {
		font-family: $primaryFont;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		display: flex;
		align-items: center;
		color: $textColor;
		justify-content: flex-end;
	}
}
.minicartCheckoutButton {
	margin: 0 0 0 auto;
	padding: 0;
	max-width: 228px;
	width: 100%;
	@include media-max(1024px) {
		max-width: initial;
		width: 95%;
	}
	@include media-max(638px) {
		width: 100%;
		margin-top: 10px;
	}
	:global(.vtex-button) {
		padding: 0;
		background: $primary100;
		border: 1px solid $primary100;
		box-sizing: border-box;
		border-radius: 5px;
		width: 100%;
		height: 45px;
		transition: all 0.4s;

		&:hover {
			background: $primary900;
			border-color: $primary900;
		}
		:global(.vtex-button__label) {
			font-family: $primaryFont;
			text-transform: none;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
			display: flex;
			align-items: center;
			text-align: center;
			color: $white;
		}
	}
}
