.unloggedWrapper {
  @include media-max(1024px){
    :global(.vtex-modal-layout-0-x-triggerContainer){
      width: 100%;
      background: $primary;
      height: 48px;
      border-bottom: 1px solid $borderColor;
      box-sizing: border-box;
    }
  }
}