.audioSearchContainer {
	position: absolute;
	left: 16px;
	top: 15px;

	@include media-max(1024px) {
		left: 25px;
		top: 0px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.audioSearchImg {
		width: auto !important;
		height: auto !important;
	}
}
