.paper--login-mobile {
  max-height: 400px;
  align-items: center;
  justify-content: center;
  @include media-max(638px){
    max-width: 360px;
  }
  @include media-min(639px){
    max-width: 639px;
  }
  :global(.vtex-login-2-x-content){
    width: 100%;
  }
}