.link {
	text-decoration: none;
	&--header-links {
		color: $textColor;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
	}
	&--our-stores {
		:global(.vtex-store-components-3-x-locationIcon) {
			position: relative;
		}
		:global(.vtex-store-components-3-x-locationFilledIcon) { 
			opacity: 0;
			position: absolute;
			color: $primary200;
			width: 18px;
			height: 18px;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: 0;
			transition: opacity 0.4s;
		}
		&:hover {
			.childrenContainer {
				:global(.vtex-store-components-3-x-locationFilledIcon) {
					opacity: 1;
				}
			}
		}
	}
	&--wishlist {
		:global(.vtex-store-components-3-x-heartIcon) {
			position: relative;
			z-index: 1;
		}
		:global(.vtex-store-components-3-x-heartFilledIcon) {
			opacity: 0;
			color: $primary200;
			position: absolute;
			width: 18px;
			height: 18px;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: 0;
			transition: opacity 0.4s;
		}
		&:hover {
			.childrenContainer {
				:global(.vtex-store-components-3-x-heartIcon) {
					position: relative;
					z-index: 1;
					opacity: 0;
				}

				:global(.vtex-store-components-3-x-heartFilledIcon) {
					opacity: 1;
				}
			}
		}
		@include media-max(1024px) {
			justify-content: flex-end;
			padding-left: 16px;
			background: $primary100;
			height: 48px;
			border-bottom: 1px solid $white;
			box-sizing: border-box;
			color: $white;
			width: 100%;
			.label {
				font-size: 14px;
				line-height: 17px;
			}
			.childrenContainer {
				margin-right: 15px;
			}
		}
	}
	&--overlay-login {
		padding: 8px 0;
		transition: all 0.4s;
		isolation: isolate;
		position: relative;

		&::before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			inset: 0;
			z-index: -1;
			opacity: 0;
			background-color: $neutral400;
			transition: 300ms;
		}

		&:hover {
			&::before {
				opacity: 0.2;
			}

			.label {
				font-weight: bold;
			}
		}
	}
	&--my-orders-link {
		@include media-max(1024px) {
			padding-left: 16px;
			background: $primary100;
			height: 48px;
			border-bottom: 1px solid $white;
			box-sizing: border-box;
			color: $white;
			display: flex;
			align-items: center;
			.label {
				font-family: $primaryFont;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 17px;
				text-align: center;
			}
			.childrenContainer {
				margin-right: 15px;
			}
		}
	}
}

.label {
	&--header-links {
		font-family: $primaryFont;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 15px;
		text-align: center;
	}
	&--overlay-login {
		width: 100%;
		font-family: 'Urbanist';
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 15px;
		text-align: center;
		color: $textColor;
		display: block;
		transition: all 0.4s;
	}
}
.childrenContainer {
	&--header-links {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
	&--our-stores {
		margin-right: 12.61px;
	}
	&--wishlist {
		margin-right: 12.96px;
	}
	&--wishlist-icon {
		margin-right: 29.96px;
	}
}
