:global(.tuttoperlacasa-store-components-3-x-portalContainer--search-bar) {
	:global(.tuttoperlacasa-store-components-3-x-searchItem) {
		&:first-child {
			display: none;
		}

		&:nth-child(4) {
			position: relative;
			padding-bottom: 22px;
			&::after {
				content: '';
				background-color: $primary400;
				width: 100%;
				height: 1px;
				position: absolute;
				bottom: 0px;
				left: 0px;
				opacity: 0.5;
			}
		}

		&:nth-child(n + 5) {
			display: none;
		}
	}
}

:global(.tuttoperlacasa-category-menu-2-x-animation) {
	&[style='transform: translateX(-110%)'] {
		display: none;
	}
}