.sliderLayoutContainer {
	&--categories-slider {
		// @include container-center(1051px, 0px);
	}
}
.sliderTrackContainer {
	&--categories-slider {
		margin: 0 41px;
		@include media-max(1024px) {
			padding: 0 31px;
			margin: 0 40px;

		}
	}
}
.imageContainer {
	&--categories-slider {
		background: $primaryBg;
		border: 2px solid $primary100;
		border-radius: 50%;
		width: 78px;
		height: 78px;
		margin: 0 auto 10px;
		.image {
			border-radius: 50%;
			width: calc(100% - 4px);
			height: calc(100% - 4px);
			padding: 2px;
		}
	}
}
.imageLink {
	&--categories-slider {
		text-decoration: none;
	}
}
.title {
	&--categories-slider {
		font-family: $primaryFont;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		color: $primary400;
	}
}
