.imagesContainer {}

.imagesSlider {}

.imageLink {}

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  margin: 0;
  height: 135px;
  width: 135px;
  position: relative;
}

.imageContainer:hover .imageFlip {
  visibility: visible;
  opacity: 1;
}

.image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.imageFlip {
  visibility: hidden;
  opacity: 0;

  transition: all .2s
}

.title {
  margin: 0;
  width: 135px;
  text-align: center;
}
