:global(.vtex-account .c-on-base) {
	color: $black;
}

:global(.vtex-account .bg-muted-5) {
	background-color: $white;
}

:global(.vtex-account) {
	// Item do menu lateral
	:global(.vtex-account_menu-link) {
		padding: 0;
		margin: 0;
		margin-bottom: 32px;
		padding-left: 16px;
		height: 24px;
		display: flex;
		align-items: center;
	}

	// Item do menu lateral (Sair)
	:global(.vtex-my-account-1-x-menuLink) {
		padding: 0;
		margin: 0;
		padding-left: 16px;
		height: 24px;
		display: flex;
		align-items: center;
	}

	:global(.vtex-pageHeader__container) {
		padding: 0.75rem;
	}

	:global(.vtex-wish-list-1-x-wishlistIconContainer) {
		:global(.vtex-button) {
			&:hover {
				background-color: unset !important;
			}
			:global(.vtex-button__label) {
				&:hover {
					background-color: unset !important;
				}
			}
		}
	}

	:global(.vtex-button) {
		margin: 0;
		padding: 0;
		border-radius: 5px;
		border: 0;
		height: 48px;
		transition-duration: 200ms;
		color: $black;
		background-color: $white;

		:global(.vtex-button__label) {
			font-size: 14px;
			font-weight: 400;
			line-height: 1;
			letter-spacing: 1.6px;
			color: inherit;
			text-transform: uppercase;
			background-color: $buyButton;
			color: $white;
			border-radius: 5px;

			&:hover {
				background-color: $buyButtonHover !important;
			}
		}
		&:hover {
			background-color: $buyButtonHover !important;
			color: $white;

			& span {
				color: $white;
			}

			& path {
				fill: $white;
			}
		}
	}

	:global(.vtex-account .vtex-button.b--danger .vtex-button__label) {
		background-color: $secondary400;
		color: $white;
	}

	:global(.vtex-account  .vtex_my-authentication_authenticationScreen_container) {
		padding: 0;
	}

	:global(.vtex_my-authentication_box_container) {
		border-radius: 0;
		border: 1px solid $primary400;
	}

	:global(.vtex-input-prefix__group),
	:global(.vtex-dropdown__container) {
		border-radius: 0;
		border: 1px solid $primary400;
	}

	:global(.vtex-account__cancel-order .c-on-success) {
		color: #fff;
	}
}

:global(.vtex-my-orders-app-3-x-orderHeader) {
	background-color: $white;
}

:global(.vtex-my-orders-app-3-x-orderHeaderValue) {
	position: relative;
}

:global(.vtex-my-orders-app-3-x-detailsBtn) {
	background-color: $secondary400;
}

:global(.vtex-my-orders-app-3-x-detailsBtn span) {
	color: $white;
}

:global(.vtex-account__order-details .c-on-muted-1) {
	color: $white;
}

:global(.vtex-account__order-details .c-on-base) {
	color: $black;
}

:global(.vtex-account .bg-action-primary) {
	background-color: $buyButton !important;
}


:global(.vtex-account  .b--action-primary) {
	border-color: $buyButton !important;
}

:global(.vtex-account  .hover-b--danger--faded:hover) {
	background-color: $buyButtonHover-rgba;
	border-color: transparent;
}

:global(.vtex-account  .hover-b--danger--faded:hover .vtex-button__label) {
	background-color: transparent;
	border-color: transparent;
}

:global(.hover-b--danger){
	border-color: $buyButton !important;
}

:global(.bg-warning--faded) {
	background-color: $primary100;
	color: $white;
}

:global(.vtex-alert .c-warning) {
	color: $white;
}

:global(.vtex-my-authentication-1-x-loginSession_currSessionIcon) {
	fill: $secondary400;

	svg {
		fill: $secondary400;

		path {
			fill: $secondary400;
		}
	}
}

.addressEdit {
	:global(.vtex-button) {
		padding: 0px;
		:global(.vtex-button__label) {
			background-color: transparent;
			text-decoration: none !important;

		}
	}
	:global(.vtex-button.c-on-action-primary) {
		background-color: transparent;
		border: 1px solid $primary100;

		:global(.vtex-button__label) {
			color: $primary100;
		}

		&:hover {
			background-color: $primary100;

			:global(.vtex-button__label) {
				color: $white;
			}
		}
	}
}

:global(.bg-washed-red) {
	background-color: $buyButtonHover-rgba;
	color: $buyButton;

	& span, & p, & div, & li {
		color: $buyButton;
	}

	& button.red {
		color: $buyButton;
	}
}

:global(.bg-washed-red button) {
	color: $buyButton;
}

:global(.vtex-account__create-card .overflow-y-auto) {
	overflow: unset;
}

:global(.vtex-account .vtex-flex-layout-0-x-flexCol--buy-button .vtex-button) {
	background-color: $white !important;
	border-color: #ab8570!important;
	&:hover {
		background: $primary100 !important;
		:global(.vtex-button__label) {
			color: $white !important;
			background-color: transparent !important;
		}
	}
}

:global(.vtex-account .vtex-flex-layout-0-x-flexCol--buy-button .vtex-button__label) {
	background-color: $white !important;
	border-color: #ab8570!important;
}

:global(.vtex-account .vtex-numeric-stepper__input) {
	border: none !important;
}


:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper) {
    :global(.vtex-button) {
        background-color: $primary200;
        color: $white;

        &:hover {
            background-color: $primary400 !important;
        }
    }
}

:global(.vtex-account__order-details h3) {
	letter-spacing: initial;
}

:global(.myo-package-progress-bar__line.b--muted-3) {
	border-color: $primary200;
}

:global(.myo-package-progress-bar__circle.bg-muted-3) {
	background-color: $primary200 !important;
}

