.productImagesContainer {
	@include media-max(1024px) {
		margin-bottom: 30px;
	}
}

.carouselGaleryCursor {
	width: 100%;
	max-width: 530.32px;
	padding-left: 33.08px;
	margin: 0;

	@include media-max(1024px) {
		padding-left: 0;
		margin: 0 auto;
	}
}

.carouselGaleryThumbs {
	max-width: 91.92px;
	position: relative;
	max-height: 497px;
	&:first-child {
		display: none;
	}
	.productImagesThumbsSwiperContainer {
		padding: 47.21px 0;
		position: static;
		@include media-max(1024px) {
			padding: 0 41.29px;
		}
	}

	.productImagesThumb {
		margin-bottom: 11.86px;
		height: 100% !important;
		&.productImagesThumbActive {
			border: 1px solid $primary100;
			overflow: hidden;
		}
		.figure {
			margin: 0 auto;
			width: 100%;
			height: 100%;
			&--product-page--video {
				position: relative;
				height: 100%;
				@include ficon-after($icon-mpa-player, 41.54px, $white) {
					position: absolute;
					bottom: 50%;
					transform: translateY(50%);
					right: 0;
					left: 0;
					justify-content: center;
				}
			}
			.thumbImg {
				height: 100%;
				width: 100%;
			}
		}
	}
	@include media-max(1024px) {
		margin-left: auto;
		margin-right: auto;
		max-width: 425.53px;
		max-height: initial;
		.productImagesThumb {
			margin: auto 5px;
			width: 77px !important;
			&.productImagesThumbActive {
				border: none;
				.figure {
					border: 1px solid $primary100;
				}
			}
		}
	}
	@include media-max(638px) {
		display: block;
	}
}

.productImagesThumbCaret {
	background: $white;
	height: 35px;
	max-width: 35px;
	transition: 300ms;
	pointer-events: initial;

	&:hover {
		background: $primary100 !important;
	}

	&::after {
    content: '';
		width: 35px;
		height: 35px;
		background: $arrowColor;
		position: absolute;
		display: block;
		display: none;
	}
	padding: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.4s;
	opacity: 1;
	.caretIcon {
		width: 14px;
		height: 14px;
		color: $arrowText;
		transition: all 0.4s;
		z-index: 1;
	}
	&:hover {
		&::after {
			background: $arrowSecondary;
		}
		.caretIcon {
			color: $arrowSecondaryText;
		}
	}
	@include media-max(1024px) {
		width: 35px;
		height: 100%;
		&.gradientBaseRight {
			right: 0;
			left: initial;
		}
		&.gradientBaseLeft {
			left: 0;
			right: initial;
		}
	}
}

.productVideo {
	height: 497px;
	// @include media-max(1024px){
	//   height: auto;
	// }
	.videoContainer {
		height: 100%;
	}
}
