//Nome do produto

.productNameContainer {
	padding-top: 3px;
	text-transform: uppercase;

	.productBrand {
		font-family: $primaryFont;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 25px;
		color: $primary400;
		text-transform: $storeTextTransform;
	}
}

.productBrandContainer {
	display: flex;
	margin-left: 5px;

	.productBrandNameLink {
		font-family: $primaryFont;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		color: $primary400;
		text-transform: $storeTextTransform;
		text-decoration: none;

		&::before {
			content: '|';
			margin-right: 5px;
		}
	}
}

//Fómulário avise-me

.subscriberContainer {
	.title {
		margin-bottom: 12px;
		font-size: 0;
		text-align: center;
		&::after {
			content: 'Avise-me';
			font-family: $primaryFont;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 25px;
			text-align: center;
			color: $primary400;
			width: 100%;
			text-transform: $storeTextTransform;
		}
	}
	.subscribeLabel {
		margin: 0 auto;
		margin-bottom: 13px;
		font-size: 0;
		text-align: center;
		max-width: 340px;
		&::after {
			text-align: center;
			content: 'Quer ser informado quando esse produto estiver disponível? Preencha os dados abaixo que nós te avisamos ;)';
			font-family: $primaryFont;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;
			color: $primary400;
			text-transform: $storeTextTransform;
		}
	}

	.form {
		margin: 0;
		.content {
			margin: 0;
			flex-direction: column;
			.input {
				margin: 0 0 16px;
				&.inputName {
					&::before {
						content: 'Seu Nome';
					}
				}
				&.inputEmail {
					&::before {
						content: 'Seu E-mail';
					}
				}
				&::before {
					font-family: $primaryFont;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 17px;
					color: $primary400;
					margin-bottom: 2px;
					display: block;
					text-align: left;
					text-transform: $storeTextTransform;
				}
				:global(.vtex-input-prefix__group) {
					border: 0.5px solid $borderColor;
					box-sizing: border-box;
					border-radius: 7px;
					height: 46px;

					:global(.vtex-styleguide-9-x-input) {
						padding: 0 14px;
						font-family: $primaryFont;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 17px;
						color: $secondary;
					}
				}
				:global(.vtex-input__error) {
					font-family: $primaryFont;
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 14px;
					color: $danger500;
					margin-top: 4px;
				}
			}
			.submit {
				:global(.vtex-button) {
					width: 100%;
					height: 45px;
					background: $primary100;
					border: 1px solid $primary100;
					box-sizing: border-box;
					border-radius: 5px;
					cursor: pointer;
					transition: all 0.4s;
					:global(.vtex-button__label) {
						font-size: 0;
						&::after {
							content: 'Avise-me quando chegar';
							font-family: $primaryFont;
							font-style: normal;
							font-weight: bold;
							font-size: 16px;
							line-height: 19px;
							text-align: center;
							color: $textColor--inverse;
							transition: all 0.4s;
							text-transform: $storeTextTransform;
							text-transform: none;
						}
					}
					&:hover {
						background: $primaryBg;
						:global(.vtex-button__label)::after {
							color: $primary100;
						}
					}
				}
			}
		}
	}
}

//Variação de sku

.skuSelectorContainer {
	&--product-page {
		.skuSelectorTextContainer {
			margin: 0 16px 0 0;
			display: flex;
			align-items: center;
			.skuSelectorName {
				&::after {
					content: 'Selecione um tamanho:';
					color: $textColor;
					white-space: nowrap;
					text-transform: $storeTextTransform;
				}
			}
		}
		.skuSelectorOptionsList {
			justify-content: flex-start;
			row-gap: 7px;
			@include media-max(1024px) {
				column-gap: 7px;
				.skuSelectorItem {
					margin: 0 !important;
				}
			}
		}
	}
}

//ìcones
.zoomIcon {
	width: 13.12px;
	height: 13.12px;
}
.securityBuyIcon {
	width: 11.7px;
	height: 11.7px;
	padding-right: 5px;
}
.installmentsIcon {
	width: 10px;
	height: 10px;
	padding-left: 13px;
	color: $primary400;
}
.shippingIcon {
	width: 24px;
	height: 24px;
	padding-right: 10px;
	color: $primary200;
}
.plusDisclosureIcon,
.minusDisclosureIcon {
	color: $textColor;
}

//Descrição
.productDescriptionText {
	font-family: $primaryFont;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: $primary400;
	text-transform: $storeTextTransform;
}
