.container {
  &--shelf-similar{
    margin: 0 !important;
    .element {
      padding: 0;
      .imageWrapper{
        margin: 0;
        .imageContainer{
            width: 74px;
            height: 74px;
        }
      }
    }
  }
  &--buy-together{
    .nameContainer{
      padding: 20px 0 0;
      @include media-max(638px){
        justify-content: center;
        .productNameContainer {
          text-align: center;
        }
      }
    }
  }
}
