.paragraph {
	&--product-zoom-text {
		font-family: $primaryFont;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		line-height: 14px;
		color: $textColor;
		padding-left: 7.44px;
	}
	&--installments-trigger {
		font-family: $primaryFont;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 20px;
		text-align: center;
		color: $primary100;
	}
	&--product-security-buy-text {
		font-family: $primaryFont;
		font-style: normal;
		font-weight: normal;
		font-size: 11px;
		line-height: 14px;
		text-align: center;
		color: $textColor;
	}
	&--shipping-calculate {
		font-family: $primaryFont;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		color: $textColor;
		text-transform: none;
	}
	&--product-description-title,
	&--product-specs-title {
		font-family: $primaryFont;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 19px;
		color: $primary400;
	}
	&--measurement-guide {
		font-family: $primaryFont;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		text-align: center;
		color: $textColor;
		padding-left: 10px;
	}
	&--measurement-guide-informations-bottom {
		font-family: $primaryFont;
		font-style: normal;
		font-size: 12px;
		line-height: 14px;
		color: $textColor;
	}
}

.strong {
	&--measurement-guide-informations-bottom {
		.link {
			font-family: $primaryFont;
			font-style: normal;
			font-size: 12px;
			line-height: 14px;
			color: $textColor;
			text-decoration: none;
		}
	}
}
.headingLevel4 {
	&--measurement-guide-title {
		margin: 0;
		font-family: $primaryFont;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 25px;
		text-align: center;
		color: $textColor;
	}
}
