.product-identifier--productReference {
	font-family: $primaryFont;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: $primary400;
	text-transform: $storeTextTransform;
}
