.title{
  &--shelf-similar {
    font-family: $primaryFont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $textColor;
    padding: 20px 0 18.75px;
    justify-content: flex-start;
    // border-top: 1px solid $borderColor;
    text-transform: $storeTextTransform;
  }
}

.sliderContainer {
  &--shelf-similar{
    right: -9px;
    :global(.vtex-slider-0-x-dotsContainer) {
      display: none;
    }
  }
  :global(.vtex-slider-0-x-sliderFrame){
    justify-content: flex-start;
  }
}

.slide{
  &--shelf-similar{
    border: 0.5px solid $borderColor;
    border-radius: 5px;
    min-width: 74px;
    height: 74px;
    overflow: hidden;
    margin: 0 3.5px;
  }
}

.arrowRight,
.arrowLeft {
  &--shelf-similar{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    padding: 0;
    .caretIcon {
      color: $arrowText;
      width: 9.6px;
      height: 9.6px;
      transition: all 0.4s;
      z-index: 1;
    }
    &:hover {
      .caretIcon {
        color: $arrowSecondaryText;
      }
    }
  }
}

.arrowRight {
  &--shelf-similar{
    height: 100%;
    background-color: $white;
    right: 0;
    width: 42px;
    @include media-max(1024px){
      background-color: transparent;
      width: 24px;
    }
    &::after{
      content: '';
      width: 24px;
      height: 24px;
      background-color: $arrowColor;
      display: block;
      transition: all 0.4s;
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
    }
  }
  &:hover{
    &::after{
      background-color: $arrowSecondary;
    }
  }
}

.arrowLeft {
  &--shelf-similar{
    left: -31px;
    width: 24px;
    height: 24px;
    @include media-max(1024px){
      left: 0;
    }
    background-color: $arrowColor;
    &:hover {
      background-color: $arrowSecondary;
    }
  }
}