.trigger{
  &--installments{
    z-index: 0 !important;
    width: auto !important;
    @include media-max(1024px){
      margin-top: 10px;
    }
    .popper{
      width: 217px;
      overflow: hidden;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      cursor: pointer;
      .container{
        border: none;
        padding: 0;
      }
    }
  }
}
