.sellingPrice {
	&--product-page-price {
		font-size: 18px;
		line-height: 25px;
		display: flex;
		white-space: nowrap;
	}
}
.listPrice {
	&--product-page-list-price {
		font-size: 14px;
		line-height: 17px;
		padding-left: 4px;
		margin-bottom: 4px;
		display: block;
		opacity: 0.5;
	}
}
.installments {
	font-family: $primaryFont;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	text-align: center;
	color: $primary400;
	&--product-page {
		line-height: 25px;
		white-space: nowrap;
		margin-left: 10px;
		@include media-max(638px) {
			margin-left: 0;
		}
	}
	&--installments-item,
	&--installments-item-total {
		line-height: 14px;
		//height: 20px;
		display: flex;
		align-items: center;
		padding-bottom: 5px;
		padding-top: 5px;
		white-space: nowrap;
	}
	&--installments-item {
		text-align: left;
		justify-content: flex-start;
		padding-left: 14px;
	}
	&--installments-item-total {
		justify-content: flex-end;
		padding-right: 14px;
	}
}
.installmentValue {
	&--installments-item {
		padding-left: 3px;
		font-weight: bold;
    color: $primary400;
	}
}
.installmentsTotalValue {
	&--installments-item-total {
		padding-left: 3px;
	}
}
.sellerNameContainer {
	font-family: $primaryFont;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: $textColor;
	opacity: 0.5;
	text-decoration: none;
	text-transform: $storeTextTransform;
	&::before {
		content: '|';
		padding: 0 5px;
	}
}

.savings {
	&--discount-seal {
		padding: 5px 10px;
		background: $textColor;
		border: 1px solid $textColor;
		box-sizing: border-box;
		border-radius: 5px;

		font-family: $primaryFont;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		color: $textColor--inverse;
		.savingsPercentage {
			&::before {
				content: '-';
			}
		}
	}
}
