.hoverContent {
	&--shelf-product-buy-quantity,
	&--shelf-buy-button,
	&--shelf-sku-selector,
	&--quick-view,
	&--actions,
	&--shelf-product-unavailable-button {
		@include media-min(1025px) {
			opacity: 0;
			visibility: hidden;
		}
	}
}

.hoverContent {
	transition: all 0.4s;
	&--hover-shelf-list,
	&--hover-search-content {
		:global(.vtex-product-summary-2-x-element--main-shelf) {
			&:hover {
				.hoverContent {
					&--shelf-product-buy-quantity,
					&--shelf-buy-button,
					&--shelf-sku-selector,
					&--quick-view,
					&--actions,
					&--shelf-product-unavailable-button {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}
