.container {
	&:not(&--buy-together) {
		margin: 0 7.5px;
		@include media-max(1024px) {
			margin: 0 5px;
		}
	}
	&--main-wishlist {
		margin: 0 auto !important;
		padding: 0 18px;
		box-sizing: content-box;
		.element {
			margin: 30px 0;
		}
	}
}

.element {
	padding: 0;
	&--main-shelf {
		max-width: 293px;
		margin: 0 auto;
		position: relative;
		@include media-max(1024px) {
			//max-width: initial;
			width: 100%;
		}
	}
}

.image {
	max-width: 100% !important;
	height: auto !important;
	&--main-shelf--hover {
		z-index: 2;
	}
}

.nameContainer {
	&--main-shelf {
		padding: 14px 0;
		justify-content: flex-start;
		.productBrand {
			font-family: $primaryFont;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 20px;
			color: $primary400;
			text-transform: uppercase;
			text-align: start;
			display: inline-block;
			min-height: 40px ;
		}
	}
}

.skuSelectorContainer {
	&--shelf-sku-selector {
		position: static;
		z-index: 2;
		:global(.vtex-store-components-3-x-skuSelectorNameContainer) {
			flex-direction: column-reverse;
		}
		:global(.vtex-store-components-3-x-skuSelectorTextContainer) {
			margin: 8px 0 13px;
			:global(.vtex-store-components-3-x-skuSelectorName)::after {
				content: 'Selecione um tamanho';
				color: $textColor--inverse;
				text-transform: $storeTextTransform;
			}
		}
		:global(.vtex-store-components-3-x-skuSelectorOptionsList) {
			justify-content: center;
		}
	}
	&--product-quick-view {
		:global(.vtex-store-components-3-x-skuSelectorTextContainer) {
			margin: 0 5px 0 0;
		}
	}
}
