.sliderLayoutContainer {
	&--banner-shelf {
		max-width: 636px;
		@include media-max(1024px) {
			max-width: initial;
		}
	}
	&--shelf {
		@include container-center;
		@include media-max(1024px) {
			padding: 0 0 36px;
		}
	}
}

.sliderTrackContainer {
	&--shelf {
		// min-width: 460px;
		// min-width: 100%;
		margin-left: 9px;
		&::after {
			content: '';
			@include media-max(1024px) {
				height: 100%;
				width: 20%;
				background-color: $white;
				opacity: 0.5;
				position: absolute;
				top: 0;
				right: 0;
			}
			@include media-max(638px) {
				width: calc(305px / 2);
			}
			@include media-max(465px) {
				width: calc(100% - 310px);
			}
		}
	}
}
.slide {
	&--shelf--visible:last-child {
		@include media-max(1024px) {
			opacity: 0.5;
		}
	}
}

.sliderArrows {
	&--shelf {
		&::after {
			width: 35px;
			height: 35px;
			font-size: 14px;
		}
	}

	&--diferentials {
		@include media-max(1024px) {
			display: none !important;
		}
	}
}
.paginationDotsContainer {
	&--shelf {
		@include media-max(1024px) {
			top: initial;
			bottom: 0;
		}
		.paginationDot {
			border-color: $primary200;
			&--isActive {
				border-color: $primary200;
				background-color: $primary200;
			}
		}
	}
	&--main-shelf,
	&--countdown-shelf {
		height: 5px;
		top: -69px;
	}

	&--countdown-shelf {
		left: -21%;
		justify-content: flex-start;
	}
}
