.stackItem {
	&--shelf-product-image {
		&:not(&--first) {
			left: initial;
			right: 11.56px;
			top: 13.2px;
			z-index: 3 !important;
		}

		:global(.vtex-product-summary-2-x-imageContainer) {
			display: flex;
			position: relative;
		}
	}
	&--shelf-banner-cta {
		bottom: 25px;
		right: 25px;
		top: initial;
		left: initial;
		@include media-max(1024px) {
			position: static;
			display: flex;
			justify-content: center;
		}
	}
	&--wishlist-product-select {
		left: -14px !important;
		top: 50% !important;
		transform: translateY(-50%);
		right: initial !important;
	}
}

.stackContainer {
	&--shelf-product-image {
		// margin-bottom: 31px;
		max-height: 405px;
	}
}
