.eyesightIcon {
	color: $primary400;
	max-width: 13.62px;
}
.arrowCTAIcon {
	color: $buttonSecondaryText;
	transition: all 0.4s;
}
.discountInsideContainer {
	right: initial;
	left: 8px;
	top: 13px;
	width: 68px;
	padding: 4px 0;
	background-color: $secondary400;
	border: 1px solid $secondary400;
	box-sizing: border-box;
	border-radius: 5px;
	font-family: $primaryFont;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 15px;
	text-align: center;
	color: $white;
	text-transform: lowercase;
	&::before {
		content: '-';
	}
}
.skuSelectorContainer {
	width: 100%;
	.skuSelectorSubcontainer {
		&--tamanho {
			display: none;
		}
		margin: 0;
		.skuSelectorNameContainer {
			margin: 10px 0;
			display: flex;
			align-items: center;
		}
		.skuSelectorTextContainer {
			display: none;
			.skuSelectorName {
				&::after {
					font-family: $primaryFont;
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 15px;
					// white-space: nowrap;
				}
			}
		}
		.skuSelectorOptionsList {
			margin: 0;
			.skuSelectorItem {
				margin: 0 2.5px;
				background-color: $textColor--inverse;
				.frameAround {
					display: none;
				}
				.skuSelectorInternalBox {
					border: none;
					.valueWrapper {
						font-family: $primaryFont;
						font-style: normal;
						font-weight: normal;
						font-size: 12px;
						line-height: 15px;
						text-align: center;
						text-transform: uppercase;
						color: $textColor;
						padding: 0;
					}
				}
				&--selected {
					border: 2px solid $primary100;
					
				}
			}
		}
	}
}

// .sizeDesktop {
// 	display: flex;
// 	max-width: 187px;
// 	max-height: 40px;
// 	padding: 0px;

// 	.logoImage {
// 		display: flex;
// 		width: 100%;
// 		height: 100%;
// 	}
// }
