.sliderTrackContainer {
  &--banners-slider{
    margin: 0 42px;
    @include media-max(1024px){
      margin: 0;
    }
  }
}

.itemContainer {
  &--banners-slider{
    .imageLink {
      .imageContainer{
        width: 260px;
        height: 166px;
        .image{
          height: auto;
        }
      }
      .title{
        &--banners-slider{
          width: 100%;
          max-width: 260px;
          padding-top: 12px;
          font-family: $primaryFont;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          text-align: left;
          color: $textColor;
        }
      }
    }
  }
}

