.searchResultContainer {
	&--search-result {
		max-width: initial !important;
		padding: 0 !important;
	}
}

.galleryTitle--layout {
	margin: 0;
	font-family: $secondaryFont;
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 25px;
	text-align: center;
	color: $primary400;
	margin-left: 5px;
	@include media-max(1024px) {
		margin: 0;
		width: 100%;
	}
	&::before {
		content: '"';
	}
	&::after {
		content: '" :(';
	}
}
.notFound--layout {
	margin-bottom: 54px;
}
.showingProducts {
	font-family: $primaryFont;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: $textColor;
	opacity: 0.5;
	padding: 0;
	display: flex;
	align-items: center;
	text-transform: $storeTextTransform;
	@include media-max(1024px) {
		justify-content: center;
	}
}
.filters {
	height: 100%;
}
.filtersWrapper {
	display: flex;
	align-items: center;
	height: 100%;
	position: relative;
	padding-left: 10px;
	.filter__container {
		border: none;
		position: relative;
		order: 1;
		&--title,
		&--selectedFilters {
			display: none;
		}
		&--category-2,
		&--category-3,
		&--category-4 {
			order: 0;
		}
		&--priceRange {
			.filterWrapperOptions {
				.filterContent {
					padding: 0 7px;
					:global(.vtex-slider__base-internal),
					:global(.vtex-slider__selector) {
						background-color: $primary;
					}
					:global(.vtex-slider__left-value),
					:global(.vtex-slider__right-value) {
						font-family: $primaryFont;
						font-style: normal;
						font-weight: 400;
						font-size: 12px;
						line-height: 14px;
						color: $textColor;
					}
				}
			}
		}
		.filter {
			padding: 0 5px;
			.filterTitle {
				font-family: $primaryFont;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 14px;
				color: $primary400;
				text-transform: $storeTextTransform;
			}
			.filterIcon {
				padding: 0 0 0 7px;
				color: $textColor;
				width: 11px;
				height: 11px;
			}
		}
		.filterWrapperOptions {
			position: absolute;
			top: calc(100% + 17px);
			z-index: 1;
			right: 0;
			left: 0;
			margin: 0 auto;

			&.filterIsOpen {
				z-index: 4;
				.filterTemplateOverflow {
					opacity: 1;
					visibility: visible;
					border: 1px solid rgba(186, 186, 186, 0.5);
				}
			}
			.filterTemplateOverflow {
				background: $primaryBg;
				box-sizing: border-box;
				width: 230px;
				max-width: 230px;
				padding: 9px 10px;
				transition: opacity 0.4s;
				opacity: 0;
				visibility: hidden;
				.filterContent {
					max-height: 102px;
					overflow-y: auto;
					overflow-x: hidden;
					@include scrollbar(4px, 100px, $scollColor, $scrollBgSecondary);
					.filterItem {
						&:not(:last-child) {
							margin-bottom: 8px;
						}
						:global(.vtex-checkbox__container) {
							margin-right: 10.63px;
							:global(.vtex-checkbox__inner-container) {
								margin: 0;
								border: 1.5px solid $primary;
								border-radius: 50%;
								width: 13.75px;
								height: 13.75px;
								background-color: unset;
							}
							:global(.vtex-checkbox__box) {
								width: 13.75px;
								height: 13.75px;
							}
							:global(.vtex__icon-check) {
								color: $textColor;
								width: 8px;
								height: 8px;
								border-radius: 50%;
								background: $primary;
							}
						}
						:global(.vtex-checkbox__label) {
							font-family: $primaryFont;
							font-style: normal;
							font-weight: normal;
							font-size: 12px;
							line-height: 14px;
							color: $textColor;
							text-transform: uppercase;
							// white-space: nowrap;
						}
					}
				}
			}
		}
	}
}

.orderByDropdown {
	padding: 0;
	background: transparent;
	.orderByButton {
		background: transparent;
		border: none;
		padding: 0;
		.orderByText,
		.filterPopupTitle {
			font-family: $primaryFont;
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 14px;
			color: $textColor;
			text-transform: none;
		}
		.orderByText {
			font-weight: 500;
			margin-right: 0px;
			&::after {
				content: ':';
			}
		}
		.filterPopupArrowIcon {
			padding: 0 0 0 7px;
			.caretIcon {
				color: $textColor;
				width: 11px;
				height: 11px;
			}
		}
	}
	.orderByOptionsContainerOpen {
		top: calc(100% + 14px);
		border: 1px solid rgba(186, 186, 186, 0.5);
		box-sizing: border-box;
		box-shadow: none;
		max-width: 127px;
		max-height: 120px;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 9px 10px;
		@include scrollbar(4px, 100px, $scollColor, $scrollBgSecondary);
		.orderByOptionItem {
			padding: 0;
			font-family: $primaryFont;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;
			color: $textColor;
			display: flex;
			align-items: center;
			margin-bottom: 9px;
			text-transform: $storeTextTransform;
			&::before {
				content: '';
				border: 1.5px solid $primary;
				border-radius: 50%;
				width: 6.75px;
				height: 6.75px;
				padding: 2px;
				display: flex;
				align-items: center;
				justify-content: center;
				box-shadow: inset 0 0px 0 2px $white;
				margin-right: 10.63px;
			}
			&--selected {
				background-color: transparent;
				&::before {
					background-color: $primary;
				}
			}
		}
	}
}

.pagedControlsContainer {
	display: flex;
	align-items: center;
	@include media-max(1024px) {
		width: 100%;
		justify-content: center;
	}
	.previousPage,
	.nextPage {
		cursor: pointer;
		background-color: transparent;
		border: none;
		display: flex;
		align-items: center;
		padding: 0;
		.nextPageText,
		.previousPageText {
			font-family: $primaryFont;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;
			color: $textColor;
			padding: 0 15px;
			text-transform: $storeTextTransform;
		}
		.previousPageIconContainer,
		.nextPageIconContainer {
			width: 27px;
			height: 27px;
			background-color: $nextPageBg;
			display: flex;
			align-items: center;
			justify-content: center;
			:global(.vtex-store-components-3-x-nextIcon),
			:global(.vtex-store-components-3-x-prevIcon) {
				color: $textColor;
				width: 11px;
				height: 11px;
			}
		}
	}
	.pageButton {
		cursor: pointer;
		background-color: transparent;
		border: none;
		font-family: $primaryFont;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		color: $textColor;
		padding: 0 8px;
		&--current {
			font-weight: bold;
			font-size: 18px;
			line-height: 25px;
		}
	}
}

.gallery {
	padding: 0;
	margin: 40px 0 0;
	column-gap: 15px;
	.galleryItem {
		padding: 0;
		margin-bottom: 44px;
		@include media-min(1025px) {
			max-width: calc(25% - (45px / 4)) !important;
		}
		@include media-between(541px, 1024px) {
			max-width: calc(50% - (15px / 2)) !important;
		}
		@include media-max(540px) {
			max-width: 100% !important;
		}
		:global(.vtex-product-summary-2-x-container--main-shelf) {
			margin: 0;
			@include media-max(1024px) {
				margin: 0 auto;
			}
		}
	}
}

.buttonShowMore {
	margin-bottom: 60px;
	:global(.vtex-button) {
		&::disabled {
			pointer-events: none;
			opacity: 0.5;
		}

		background: $buyButton;
		border: 1px solid $buyButton;
		border-radius: 7px;
		height: 46px;
		transition: all 0.4s;

		:global(.vtex-button__label) {
			font-family: $primaryFont;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 20px;
			text-align: center;
			color: $buttonText;
			transition: all 0.4s;
			padding: 10px 48px;
			text-transform: none;
		}
		&:hover {
			background: $buyButtonHover;
			border-color: $buyButtonHover;
			:global(.vtex-button__label) {
				color: $white;
			}
		}
	}
}

//Mobile
.filtersWrapperMobile {
	justify-content: flex-start;
	.filterPopupButton {
		padding: 0;
		height: initial;
		.filterPopupTitle {
			font-family: $primaryFont;
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 14px;
			color: $textColor;
		}
		.filterIcon {
			color: $textColor;
		}
	}
}

.sidebar {
	@include media-max(1024px) {
		width: 80%;
	}
	.accordionFilter {
		display: flex;
		flex-direction: column;
		.filterAccordionBreadcrumbs {
			order: 0;
			.filterBreadcrumbsText,
			.filterBreadcrumbsItem .filterBreadcrumbsItemName {
				font-family: $primaryFont;
				font-style: normal;
				font-weight: 700;
				font-size: 20px;
				line-height: 24px;
				color: $textColor;
				text-transform: $storeTextTransform;
			}
			.filterBreadcrumbsItem {
				.caretIcon {
					padding: 0 0.5rem;
				}
				.filterBreadcrumbsItemName {
					padding: 0;
				}
			}
		}
		.accordionFilterContainer {
			display: flex;
			flex-direction: column;
			width: 100%;
			order: 10;
			padding: 0 8px;

			&--categoria {
				order: 1;
			}

			&--subcategoria {
				order: 2;
			}

			&--category-4 {
				order: 3;
			}
			.accordionFilterItem {
				padding-right: 0;
				display: flex;
				align-items: center;
				border-color: $borderColor;
				.accordionFilterContent {
					padding: 0;
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					.accordionFilterItemTitle {
						font-family: $primaryFont;
						font-style: normal;
						font-weight: 700;
						font-size: 16px;
						line-height: 19px;
						color: $textColor;
						text-transform: $storeTextTransform;
					}
					.accordionFilterItemIcon {
						display: flex;
						align-items: center;
						.caretIcon {
							color: $textColor;
							width: 14px;
							height: 14px;
						}
					}
				}
			}
		}
		.accordionFilterItemOptions {
			.filterAccordionItemBox {
				padding: 0;
				border-color: $borderColor;
				:global(.vtex-checkbox__container) {
					margin-right: 10.63px;
					:global(.vtex-checkbox__inner-container) {
						margin: 0;
						border: 1.5px solid $primary;
						border-radius: 50%;
						width: 13.75px;
						height: 13.75px;
					}
					:global(.vtex-checkbox__box) {
						width: 13.75px;
						height: 13.75px;
					}
					:global(.vtex__icon-check) {
						color: $textColor;
						width: 8px;
						height: 8px;
						border-radius: 50%;
						background: $primary;
					}
				}
				:global(.vtex-checkbox__label) {
					font-family: $primaryFont;
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 14px;
					color: $textColor;
					white-space: nowrap;
				}
			}
			.filter__container--priceRange {
				.filterAvailable {
					display: none;
				}
				.filterTemplateOverflow {
					padding: 0;
					:global(.vtex-slider__base-internal),
					:global(.vtex-slider__selector) {
						background-color: $primary;
					}
					:global(.vtex-slider__left-value),
					:global(.vtex-slider__right-value) {
						font-family: $primaryFont;
						font-style: normal;
						font-weight: 400;
						font-size: 12px;
						line-height: 14px;
						color: $textColor;
					}
				}
			}
		}
	}
	.filterButtonsBox {
		border-color: $secondary300;
		.filterClearButtonWrapper {
			:global(.vtex-button) {
				border: 1px solid $buttonBorder;
				background-color: $buttonSecondary;
				:global(.vtex-button__label) {
					color: $buttonSecondaryText;

					font-family: $primaryFont;
					font-style: normal;
					font-weight: bold;
					font-size: 16px;
					line-height: 19px;
					text-align: center;
					padding: 0 !important;
					align-items: center;
				}
			}
		}
		.filterApplyButtonWrapper {
			:global(.vtex-button) {
				border: 1px solid $button;
				background-color: $button;
				:global(.vtex-button__label) {
					color: $buttonText;

					font-family: $primaryFont;
					font-style: normal;
					font-weight: bold;
					font-size: 16px;
					line-height: 19px;
					text-align: center;
					padding: 0 !important;
					align-items: center;
				}
			}
		}
	}
}

.filter {
	.filterIcon {
		@include ficon-before($icon-arrow-departament, 11px, $primary400) {
			transition: 300ms;
		}
		.caretIcon {
			display: none;
		}
	}

	&.filterIsOpen {
		.filterIcon {
			@include ficon-before($icon-arrow-departament, 11px, $primary400) {
				transform: rotate(180deg);
			}
		}
	}
}
