.imageElement{
  &--search-result{
    width: 100%;
  }
  &--search-seo{
    @include media-max(1024px){
      max-width: initial !important;
      width: 100%;
      max-height: initial !important;
    }
  }
}
.backIcon {
  color: $buttonSecondaryText;
  transition: all 0.4s;
}