.flexRow {
	&--not-found-content {
		padding: 28px 0 30px;
		background-color: rgba(224, 224, 224, 0.3);
	}
	&--not-found-container {
		:global(.vtex-store-components-3-x-container) {
			@include media-max(638px) {
				padding: 0;
			}
		}
	}
	&--not-found-breadcrumb {
		@include media-max(638px) {
			padding: 0 15px;
		}
	}
	&--not-found-search-bar {
		:global(.vtex-store-components-3-x-searchBarContainer) {
			height: 36px;
			min-width: 244px;
			margin: 0;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $primaryBg;
			border-radius: 5px;

			:global(.vtex-styleguide-9-x-input) {
				font-size: 12px;
				text-align: center;
				border: none;
				outline: none;
			}

			:global(.vtex-input-prefix__group){
				border: none;
			}
		}

		:global(.vtex-store-components-3-x-searchBarIcon) {
			display: none !important;
		}
	}
	&--filters-container {
		border-top: 1px solid $border-filters;
		border-bottom: 1px solid $border-filters;
		background: $bg-filters;
		padding: 16px 0 14px;
	}
	&--paged-controls-top {
		@include container-center;
		padding: 10px 0 20px;
	}
	&--search-content {
		@include container-center;
		margin-top: 20px;
	}
	&--paged-controls-bottom {
		@include container-center;
		padding: 0 0 24px;
	}
	&--search-seo {
		padding: 45.12px 0 45.04px;
		border-top: 1px solid lighten($color: $secondaryBorderColor, $amount: 20%);
		border-bottom: 1px solid
			lighten($color: $secondaryBorderColor, $amount: 20%);
	}
	&--banners-slider {
		padding: 24px 0 49px;
		// border-top: 1px solid lighten($color: $secondaryBorderColor, $amount: 20%);
	}
}

.flexRowContent {
	&--search-seo {
		justify-content: flex-start;
		@include media-max(1024px) {
			flex-direction: column;
		}
	}
	&--filters-container {
		@include container-center;
		@include media-max(1024px) {
			padding: 0;
		}
	}
}
