.wrapper--institucional-content {
	text-align: justify;
	margin-top: 10px;
	font-family: $primaryFont;
	width: 100%;
	.headingLevel1--institucional-content {
		font-size: 30px;
		padding-bottom: 4px;
		color: $primary400;
		border-bottom: solid 1px $primary;
	}
	.headingLevel2--institucional-content {
		font-size: 24px;
		margin-top: 30px;
		color: $primary400;
	}
	.headingLevel3--institucional-content {
		color: $primary400;
		font-size: 19px;
	}
	.headingLevel4--institucional-content {
		margin-bottom: 4px;
		color: $primary400;
		font-size: 19px;
	}
	.paragraph--institucional-content,
	.listItem--institucional-content {
		font-size: 16px;
		margin-bottom: 10px;
		text-align: justify;
	}
}
.wrapper--contact-titulo {
	text-align: justify;
	margin-top: 10px;
	font-family: $primaryFont;
	width: 100%;
	.headingLevel1--contact-titulo {
		font-size: 30px;
		padding-bottom: 4px;
		color: $primary;
		border-bottom: solid 1px $primary400;
	}
}
.tableTd--institucional-content {
	font-size: 14px;
	text-align: left;
	padding: 10px;
	border: 1px solid black;
}
.tableTh--institucional-content {
	padding: 10px;
	border: 1px solid black;
}
.paragraph--inst-title {
	color: $primary;
	font-size: 19px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: $primaryFont;
}

.container--inst-disc-button {
	color: $primary;
	height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: $primaryFont;
	font-size: 19px;
	justify-content: center;

	.paragraph--inst-disc-button {
		margin: 0;
	}
}

.paragraph--contact-titulo {
	color: $primary400;
	font-weight: bold;
}

.paragraph--botao-reenviar {
	height: 40px;
	width: 350px;
	background-color: $primary;
	border-radius: 5px;
	padding-top: 8px;
}
.link--botao-reenviar {
	margin-top: 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

@media screen and (max-width: 1024px) {
	.headingLevel1--institucional-content,
	.headingLevel1--contact-titulo {
		font-size: 1.4rem;
		text-align: left;
	}
	.headingLevel2--institucional-content {
		font-size: 1.3rem;
	}
	.headingLevel2--institucional-content {
		font-size: 1.1rem;
	}
	.paragraph--institucional-content {
		font-size: 0.9rem;
	}
	.listItem--institucional-content {
		font-size: 1rem;
	}
	.container--institucional-content {
		padding: 0 30px;
	}
}

@media screen and (max-width: 420px) {
	.paragraph--institucional-content {
		font-size: 0.8rem;
	}
}
